python==3.9
pyjanitor
matplotlib
missingno
numpy
pandas
pandas-flavor
pandas-profiling
seaborn
session-info
ipywidgets
pyreadr
upsetplot
statsmodels==0.13.2
statsmodels
fancyimpute
pyjanitor
matplotlib
missingno
nhanes
pandas
scipy
seaborn
session-info
statsmodels
upsetplot

